<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>From Rails to Ember<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'app' %>

    <%= partial 'analytics' %>
    <script type="text/javascript">
      analytics.page("<%= current_article.title %>");
    </script>
  </head>
  <body class="article-layout">
    <div id="content-wrapper">

      <div class="blocks">
        <div class="rails"></div>
        <div class="home-block ember"></div>
      </div>

      <div class="announcement">
        <% link_to '/', class: 'all-tips-link' do %>
          <i class="fa fa-chevron-left"></i> All Tips
        <% end %>
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1>Tip #<%= current_article.data[:number] %> - <%= current_article.title %></h1>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div id="main" role="main">
          <% unless current_article.published? %>
            <h3 style="color: #A72C38;">DRAFT!</h3>
          <% end %>
          <%= yield %>
          <div id="article-nav">
            <% prev_article = current_article.previous_article %>
            <% next_article = current_article.next_article %>

            <% if prev_article %>
              <div class="pull-left">
                <% link_to prev_article.url do %>
                  <i class="fa fa-chevron-left"></i> Prev Tip
                <% end %>
              </div>
            <% end %>

            <% if next_article %>
              <div class="pull-right">
                <% link_to next_article.url do %>
                  Next Tip <i class="fa fa-chevron-right"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <% if next_article.nil? %>
        <%= partial 'no-more' %>
      <% end %>

      <%= partial 'footer' %>

    </div>

    <%= javascript_include_tag 'app' %>
  </body>
</html>
