<div class="container">
  <div class="row">
    <div id="no-more" class="col-md-6 col-md-offset-3">
      <h4>Uh oh, you've read everything!</h4>
      <p>Not to fear, there is more on the way. Sign up for the newsletter.</p>
      <a class="btn" id="email-signup">JOIN THE LIST</a>
      <div class="content-for-popover">
        <% form_tag '//form-mailer.herokuapp.com/mail', id: 'contact' do %>
          <%= hidden_field_tag :subject, value: "[echobind] contact form" %>
          <%= hidden_field_tag :redirect_to, value: 'http://echobind.com/contact-thanks' %>
          <%= hidden_field_tag :source, value: source, id: 'contact-source' %>
          <%= label_tag :email, caption: 'My email is:' %>
          <%= email_field_tag :email %>

          <%= submit_tag 'Sign up!' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <p class="last-updated">Last updated: <%= blog.articles.first.date.strftime('%b %e %Y') %></p>
  </div>
</div>
