<div class="container">
  <div class="row">
    <div id="no-more" class="col-md-6 col-md-offset-3">
      <h4>Uh oh, you've read everything!</h4>
      <p>Not to fear, there is more on the way. Sign up for the newsletter.</p>
      <a class="btn popover-trigger" id="list-signup-button">JOIN THE LIST</a>
      <div class="content-for-popover">
        <% form_tag 'http://mailchimper.herokuapp.com/subscribe', id: 'mailing-list' do %>
          <%= hidden_field_tag :id, value: '955d548aa2', id: 'list-id' %>

          <div class="form-group">
            <%= text_field_tag :name, name: 'mergeVars[FNAME]', placeholder: 'Name', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= email_field_tag :email, placeholder: 'Email', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= submit_tag 'JOIN', class: 'btn' %>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <p class="last-updated">Last updated: <%= blog.articles.first.date.strftime('%b %e %Y') %></p>
</div>
